@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'Baloo Thambi';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Thambi'), url('https://fonts.cdnfonts.com/s/15831/BalooThambi-Regular.woff') format('woff');
    font-display: swap;
}
